
/*LOGO
BLUE: #283890, Red: 40  Green: 56   Blue: 144

GREEN: #5AA93E, Red: 90 Green: 169  Blue: 62
*/
html, body {
    margin:0;

    padding:0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* navbar */

.navpad {
    padding: 0px;
}
.navbar-default {
    /*background-color: #B6B6B6;*/
    background-color: #fff;


    /*border-color: #0066CC;*/
    border-radius: 0px;
    border: 0px;
    height: 100px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: right;
    /*height: 100px;*/
}

.navbar .navbar-collapse {
    text-align: center;
    border: none;
    line-height: 0px;
    padding: 0px;
    box-shadow: none;
    padding-right: 0px;
    z-index: 2;
}
.navbar .navbar-collapse > ul,
.navbar .navbar-collapse > ul > li{
    color: #283890;
    background-color: rgba(255,255,255,0.95);
    z-index: 2;
    padding-right: 10px;
}

/* title */
.navbar-default .navbar-brand {
    color: #777;
    display: inline-block;
    float: left;
    margin-top: 8px;
    padding-left: 0px;
}

.navbar img {
    height: 60px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #777;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 18px;
    /*height: 100px;*/
    padding-top: 50px;

}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #283890;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #283890;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #283890;
    background-color: transparent;
}

.dropdown-menu > li > a {
    color: #777;
}

.dropdown-menu,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus  {
    border: none;
    color: #283890;
    background-color: rgba(255,255,255,0.95);

}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    /*border-top-color: #777;*/
    /*border-bottom-color: #777;*/
}

.navbar-default {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}


/* IMAGES */

.main-pictures {
    width: auto;
    display: block;
}

.row {
    margin-top: 2%;
}

#slider {
    z-index: 1;
}

.green {
    background-color: #5AA93E;
    min-height: 150px;
}
.blue {
    background-color: #283890;
    min-height: 220px;
}
.blue-bar {
    min-height: 5px;
    background-color: #283890;
}

.fade-line {
    min-height: 5px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 47%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(47%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 47%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 47%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 47%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 47%,rgba(0,0,0,0) 100%); /* W3C */

}

.no-margin {
    margin: 0px; 
    padding: 0px;
}
.segment-title {
    min-height: 40px;
    background-color: transparent;
    color: #283890;
}
.segment-text {
    min-height: 40px;
    background-color: transparent;
    color: #283890;
    padding-right: 20px;
    padding-left: 20px;
}
.disclaimer {
    font-size: 10px;
}

.footer {
    color: grey;
    margin: 0px;
    margin-top: 40px;
/*    -webkit-box-shadow: 8px -6px 6px #999;
    -moz-box-shadow: 8px -6px 6px #999;
    box-shadow: 8px -6px 6px #999;*/
}

#card {
    width: 100%;
}